/* CSS declarations go here */
.home
{
	padding-top:5em;
}

.jumbotron
{
	background:transparent;
	text-align:center;

}
.jumbotron > h1
{
	font-size:10em;
}

.login-btn
{
	text-align:center;
}

.credentials
{
	text-align:center;
	padding-top:5em;
}
.credentials > p:first-child
{
	font-size:14px;
}
.credentials > p:last-child
{
	font-size:21px;
	font-weight:200;

}


.at-btn
{

	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.at-form > .at-title >h3
{
	font-size:34px;
	font-weight:400;
}

.at-pwd-form
{
	width:100%;

	padding-top:3em;
}


.at-input
{
	text-align:left;
	position:relative;
	padding-left:9em;

}

.at-pwd-form input
{
	position:absolute;
	right:10em;
	top:0em;
}
.at-pwd-form select
{
	position:absolute;
	right:10em;
	top:0em;
	width:178px;

}
.at-input > *
{
	display:inline-block;
	padding-top:1em;
	padding-bottom:1em;
}

.at-pwd-form .at-btn
{
	margin-top:3em;

}
/*##############################################
############# MAIN NAVIGATION #################
##############################################*/
li > a > i
{
	padding-right:0.5em;
}
/*##############################################
############# MAIN NAVIGATION ENDS ############
##############################################*/

/*##############################################
#############Dashboard student #################
##############################################*/
.dashboard
{
	height:80vh;
}
.dashboard > .row
{
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
.dashboard-wrapper
{
	height:200px;
	border:1px solid #eee;
	text-align:center;
	box-shadow: none;
}
.dashboard-wrapper:hover
{
	box-shadow: 2px 2px 10px #888888;
}
.content-wrapper
{
	position:relative;
	top:50%;
	transform: translateY(-50%);
}
/*##############################################
#############Dashboard student Ends#############
##############################################*/
/*##############################################
#############Dashboard Instructor#############
##############################################*/
.user-wrapper > table
{
		width:100%;
}
.user-wrapper >table > tr
{
	height:4em;
	border-bottom:1px solid #3e3e3e;
}

.user-wrapper > table > tr > td
{

 text-align:center;
}
.user-wrapper > table > tr > th
{

 text-align:center;
}
/*##############################################
#############Dashboard Instructor#############
##############################################*/

/* CSS declarations go here */
.seat
{
	width:60%;
	padding:0;
}
.seat .seat-cell
{
	display:inline-block;
	text-decoration: none;
	width:9%;
	border: 1px solid red;
	margin-left:0;
}

.booked
{
	background:green;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover
{
	background: #ffffff;
}
#login-buttons .login-button, .accounts-dialog .login-button
{
	background:transparent;
	color:#3e3e3e;
	border:none;
	padding-top:1em;
}
#login-buttons #signup-link
{
	float:none;
}
/********************************************************************* LOGIN STARTS
*******************************************************************/

#login-dropdown-list {
    position: absolute !important;
    top:1em;
	left:auto;
    right: 3em !important;
}
.accounts-dialog
{
	width:150px;
}

#login-buttons .login-close-text
{
	float:right;
}

/********************************************************************* LOGIN ENDS
*******************************************************************/
/*********************************************************************  MAIN NAVIGATION *******************************************************************/
.navbar
{
	margin-bottom:0px;
}
/*********************************************************************   MAIN NAVIGATION *******************************************************************/




main
{
	padding-left:200px;
	padding-top:20px;
}
