<Template name="Dashboard">

		<div class="container dashboard">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<div class="dashboard-wrapper">
						<div class="content-wrapper">
							<img src="" class="img-resposive">
							<h4>Enter a class</h4>
							<form class="js-enter-class">
								<input type="text" name="class_id" placeholder="Enter class id"/>
	              <button class="btn btn-success">Enter</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1">
					<div class="dashboard-wrapper js-create-class">
						<div class="content-wrapper">
							<img src="" class="img-resposive">
							<p>Create a Class</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="dashboard-wrapper">
						<div class="content-wrapper">
							<img src="" class="img-responsive" />
							<h4>Enroll a class</h4>
							<form class="js-enroll-class">
								<input type="text" name="class_id" placeholder="Enter class id"/>
	              <button class="btn btn-success">Enter</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			{{> Createclass}}
		</div>


</Template>
